<div class="container">
    <div class="wrapper">
        <div class="title">
            <h1>To do list</h1>
        </div>
        <div id="todo">
            <form method="post" action="/usuario/create">
                <input type="text" name="nombre">
            </form>
            <ul id="list">
                <% usuarios.forEach(function(user){%>
                <li class="item"> <span><%= user.nombre %></span>
                    <form method="post" action="/usuario/delete/<%= user.id %>">
                        <button type="submit" class= "item-delete"><i class="icon icon-trash" data-id="0"></i></button>
                    </form>
                </li>
                <% })%>
            </ul>
        </div><!--#todo-->
</div>
</div><!--.content-->